dmc2gym==1.0.0
gin_config==0.4.0
gym==0.21.0
kornia==0.5.11
matplotlib==3.4.3
meshcat==0.3.2
mujoco_py==2.0.2.13
numpy==1.21.4
opencv_python==4.5.3.56
pybullet==3.1.9
stable_baselines3==1.2.0
torch==1.9.1
transforms3d==0.3.1
