<?xml version="0.0" ?>
<robot name="grid_mark.urdf">
    <link name="baseLink">
        <inertial>
            <mass value="0.0"/>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.01"/>
            </geometry>
            <material name="magenta">
                <color rgba="1 0 1 0.3"/>
            </material>
        </visual>
    </link>
</robot>
