<?xml version="0.0" ?>
<robot name="shelf_horizontal_board.urdf">
  <link name="baseLink">
    <contact>
      <lateral_friction value="0.2"/>
      <rolling_friction value="0.0001"/>
      <inertia_scaling value="3.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="10"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="shelf_horizontal_board.stl"/>
      </geometry>
      <material name="wood">
        <color rgba="0.5882 0.4353 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="shelf_horizontal_board.stl"/>
      </geometry>
    </collision>
  </link>
</robot>

